* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family:"Onest",sans-serif;
}
.main-container {
    width: 100%;
    max-width: 1540px;
    margin: auto;
}


#find-doctor-header {
    padding-inline: 120px;
}
.find-doctor-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-image {
    width: 140px;
    padding-block: 23px;
    margin-right: 50px;
}

.header-navlist {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.header-navlist div:hover {
   cursor: pointer;
}
.get-care {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: #00337f;
    font-size: 18px;
    height: 90px;
    align-items: center;
    border-bottom: 4px solid transparent;
    padding-inline: 20px;
}
.get-care p {
    font-size: 18px;
    padding-top: 4px;
}
.get-care i {
    font-size: 15px;
}
.get-care:hover {
    cursor: pointer;
    border-bottom: 4px solid #011d46;
}
.location {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: #00337f;
    font-size: 18px;
    height: 90px;
    align-items: center;
    border-bottom: 4px solid transparent;
    padding-inline: 20px;
}
.location p {
    font-size: 18px;
    padding-top: 4px;
}
.location i {
    font-size: 15px;
}
.location:hover {
    cursor: pointer;
    border-bottom: 4px solid #00337f;
}
.patient-resource {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: #00337f;
    font-size: 18px;
    height: 90px;
    border-bottom: 4px solid transparent;
    padding-inline: 20px;
}
.patient-resource p {
    font-size: 18px;
    padding-top: 4px;
}
.patient-resource i {
    font-size: 15px;
}
.patient-resource:hover {
    cursor: pointer;
    border-bottom: 4px solid #00337f;
}
.mychart {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: #00337f;
    font-size: 18px;
    height: 90px;
    align-items: center;
    border-bottom: 4px solid transparent;
    padding-inline: 20px;
}
.mychart p {
    font-size: 18px;
    padding-top: 4px;
}
.mychart i {
    font-size: 15px;
}
.mychart:hover {
    cursor: pointer;
    border-bottom: 4px solid #00337f;
}

.find-doctor-btn-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.find-btn {
    background-color: #00337f;
    padding-block: 13px;
    padding-inline: 20px;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.find-btn:hover {
    cursor: pointer;
    background-color: #011d46;

}
.search-icon {
    font-size: 20px;
    color: #00337f;
}
.search-icon:hover {
    cursor: pointer;
}
.menu-btn {
    display: none;
}


#find-a-doctor {
    padding-inline: 120px;
    background-color: #d9e2f0;
}
.find-a-doctor-container {
    display: flex;
    justify-content: space-between;
}
.find-a-doctor-header {
    display: flex;
    padding-top: 50px;
}
.house-icon {
    color: #00337f;
}
.arrow-right {
    color: grey;
    padding-inline: 12px;
}
.form-heading h1 {
    font-family: serif;
    font-size: 60px;
    font-weight: 400;
    padding-block: 30px;
}


.find-a-doctor-form {
    background-color: #fff;
    position: relative;
}
#insurance-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.find-by-name {
    border-bottom: 1.5px solid #d9e2f0;
}
.find-by-name input {
    width: 520px;
    height: 65px;
    outline: none;
    font-size: 20px;
    padding-inline: 20px;
    font-family: roboto;
    font-weight: 300;
}
.find-by-name ::placeholder {
    font-size: 16px;
    color: rgb(117, 113, 113);
    font-family: roboto;
    font-weight: 300;
}
.find-by-city {
    border-bottom: 1.5px solid #d9e2f0;
}
.find-by-city input {
    width: 520px;
    height: 65px;
    outline: none;
    font-size: 20px;
    padding-inline: 20px;
    font-family: roboto;
    font-weight: 300;
}
.find-by-city ::placeholder {
    font-size: 16px;
    color: rgb(117, 113, 113);
    font-family: roboto;
    font-weight: 300;
}
.find-by-insurance input {
    width: 500px;
    height: 65px;
    outline: none;
    font-size: 20px;
    padding-inline: 20px;
    font-family: roboto;
    font-weight: 300;
}
.find-by-insurance input:hover {
    cursor: pointer;
}
.find-by-insurance ::placeholder {
    font-size: 16px;
    color: rgb(117, 113, 113);
    font-family: roboto;
    font-weight: 300;
}
.find-by-insurance {
    border-bottom: 1.5px solid #d9e2f0;
}
.find-by-insurance i {
    padding-right: 20px;
    color: grey;
}
.find-by-insurance:hover {
    cursor: pointer;
}
.search-button {
    padding-inline: 20px;
}
.search-btn{
    background-color: #00337f;
    padding-block: 13px;
    width: 100%;
    color: #fff;
    border-radius: 50px;
    margin-block: 30px;
    font-size: 16px;
}
.insurance-img{
    width: 700px;
    padding-top: 145px;
}


.insurance-dropdown {
   position: absolute;
   border: 1px solid grey;
   background-color: #fff;
   border-radius: 5px;
   z-index: 10px;
   top: 200px;
   display: none;
}
.search-bar {
    padding: 10px;
}
.insurance-serch-bar input {
    width: 470px;
    height: 60px;
    outline: none;
    font-size: 18px;
    padding-inline: 20px;
    font-family: roboto;
    font-weight: 300;
    border-radius: 10px;
}
.insurance-serch-bar ::placeholder {
    font-size: 16px;
    color: rgb(117, 113, 113);
    font-family: roboto;
    font-weight: 300;
}
.insurance-serch-bar {
    border: 1px solid #8a8d92;
    border-radius: 10px;
}
.insurance-serch-bar i {
    padding-right: 20px;
    color: grey;
}
.insurance-dropdown-content {
    height: 300px;
    overflow-x: scroll;
    padding-inline: 10px;
}
.inputItem {
    display: flex;
    border: 2px solid transparent;
}
.inputItem:hover {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}
.insurance-dropdown-content p {
    font-family: roboto;
    font-size: 18px;
    font-weight: 300;
    padding-block: 20px;
    padding-left: 10px;
}




#doctor-lists {
    padding-inline: 120px;
}
.doctor-status-header {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
}
.total-result p {
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
}
.doctor-status {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.accepting-patients {
    display: flex;
    align-items: center;
    gap: 10px;
}
.accepting-patients p {
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
}
.schedule-online {
    display: flex;
    align-items: center;
    gap: 10px;
}
.schedule-online p {
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
}
.schedule-online input {
    color: #011d46;
}

.available-doctors {
    display: flex;
    gap: 63px;
}
.reset {
    display: flex;
    align-items: center;
    gap: 10px;
}
.reset p {
    color: #00337f;
    font-family: roboto;
    font-weight: 300;
    border-bottom: 1px solid #00337f;
    font-size: 17px;
}
.reset i {
    color: #00337f;
}
.doctor-filters p {
    font-family: roboto;
    font-weight: 300;
    color: #5b5d5f;
    font-size: 13px;
    padding-block: 30px;
}
.status-selection {
    display: flex;
    flex-direction: column;
}
.status-selection label {
    font-family: roboto;
    font-weight: 300;
    padding-left: 10px;
}
.status-selection div {
    padding-block: 8px;
}
.short-by-status h4 {
    font-family: roboto;
    font-weight: 300;
    color: #b5591c;
    padding-bottom: 35px;
}


.schedule-doctors-header {
    display: flex;
    justify-content: space-between;
    gap: 500px;
    background-color: #fff8ed;
    align-items: center;
    border-bottom: 3px solid #f1e0c6;
    padding-inline: 20px;
}
.patients-status h5 {
    font-family: roboto;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 1px;
    padding-top: 15px;
}   
.patients-status p {
    font-family: roboto;
    font-weight: 300;
    padding-block: 15px;
}
.patients-shortlist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.patients-shortlist h5 {
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
    padding-right: 20px;
}
.patients-shortlist p {
    font-family: roboto;
    font-weight: 300;
}


.doctor1 {
    display: flex;
    padding-block: 20px;
    align-items: center;
}
.doctor1-section1 {
    display: flex;
}
.doctor1-image {
    width: 140px;
    height: 180px;
    border-radius: 10px;
}
.doctor-details {
    padding-left: 20px;
    width: 450px;
}
.doctor-detail {
    display: flex;
    align-items: center;
}
.doctor-detail i {
    font-size: 10px;
    color: green;
}
.doctor-detail h4 {
    font-family: roboto;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 5px;
}
.doctor-name {
    display: flex;
    align-items: center;
    padding-block: 10px;
}
.doctor-name h1 {
    font-family: roboto;
    font-weight: 300;
    color: #00337f;
}
.doctor-name i {
    color: #00337f;
    font-size: 20PX;
    padding-left: 10px;
}
.doctor-specalist p {
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
}
.doctor-location {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.doctor-location p {
    font-family: roboto;
    font-weight: 300;
    font-size: 13px;
    padding-left: 8px;
}
.doctor-phone-num {
    background-color: #fff8ed;
    width: 380px;
    text-align: center;
    border-radius: 10px;
    margin-left: 30px;
}
.doctor-phone-num button {
    background-color: #00337f;
    padding-block: 10px;
    padding-inline: 20px;
    color: #fff; 
    border-radius: 50px;
    font-size: 16px;
    margin-block: 70px;
}
.phone-num i {
    padding-right: 12px;
}




#Specialities {
    padding-inline: 120px;
    margin-block: 70px;
}
.Specialities-container {
    display: flex;
    gap: 80px;
    background-color: #d9e2f0;
    border-radius: 10px;
    padding-inline: 80px;
}
.Specialities-text-content {
    display: flex;
    align-items: center;
    gap: 240px;
}

.Specialities-image {
    width: 130px;   
    padding-top: 30px;
}
.Specialities-text h1 {
    font-size: 33px;
    font-family: serif;
    font-weight: 450;
}
.Specialities-text p {
    font-family: roboto;
    font-weight: 300;
    font-size: 17px;
    max-width: 500px;
    line-height: 1.5;
    padding-top: 6px;
}
.Specialities-btn {
    background-color: #00337f;
    padding-block: 13px;
    padding-inline: 20px;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
}



#footer {
    padding-inline: 120px;
    background-color: #011d46;
}
.footer-section1 {
    display: flex;
    justify-content: space-between;
}
.footer-section1 {
    display: flex;
    gap: 150px;
}

.footer-contents {
    display: flex;
    gap: 150px;
}
.footer-content1 h4 {
    color: #b5591c;
    padding-bottom: 10px;
    font-family: roboto;
    font-weight: 400;
}
.footer-content1 p {
    color: #fff;
    padding-bottom: 25px;
}
.footer-content1 p:hover {
    cursor: pointer;
    color: #bc5714;
}

.footer-content2 h4 {
    color: #b5591c;
    padding-bottom: 10px;
    font-family: roboto;
    font-weight: 400;
}
.footer-content2 p {
    color: #fff;
    padding-bottom: 25px;
}
.footer-content2 p:hover {
    cursor: pointer;
    color: #bc5714;
}

.footer-content3-text h4 {
    color: #b5591c;
    padding-bottom: 10px;
    font-family: roboto;
    font-weight: 400;
}
.footer-content3-text p {
    color: #fff;
    padding-bottom: 25px;
}
.footer-content3-text p:hover {
    cursor: pointer;
    color: #bc5714;
}

.footer-icon-heading h4 {
    color: #b5591c;
    padding-bottom: 10px;
    font-family: roboto;
    font-weight: 400;
}
.footer-icons {
    display: flex;
    justify-content: space-between;

}
.footer-icons i {
    font-size: 20px;
    color: #fff;
}
.footer-icons i:hover {
    cursor: pointer;
    color: #b5591c; 
}
.footer-section1 {
    padding-block: 50px;
}

.footer-line {
    border-bottom: 1px solid #948d8d;
}

.footer-section2 {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
}
.copyrights-text p{
    font-size: 12px;
    color: #fff;
}
.copyrights-contents {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 13px;
}
.copyrights-contents P {
   text-decoration: underline;
}
.right-line{
    border-right: 1px solid #706c6c;
    margin-block: 1px;
}





@media (max-width:920px) {

    #find-doctor-header {
        padding-inline: 40px;
    }
    .get-care {
        display: none;
    }
    .location {
        display: none;
    }
    .patient-resource {
        display: none;
    }
    .mychart{
        display: none;
    }
    .find-doctor-btn {
        display: none;
    }
    .menu-btn {
        display: block;
    }


    #find-a-doctor {
        padding-inline: 90px;
    }
    .find-a-doctor-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-heading h1 {
        font-size: 45px;
    }
    .insurance-img{
        width: 600px;
        padding-top: 30px;
    }
    .find-by-name input {
        width: 600px;
        height: 80px;
    }    
    .find-by-name ::placeholder {
        font-size: 19px;
    }
    .find-by-city input {
        width: 600px;
        height: 80px;
    }
    .find-by-city ::placeholder {
        font-size: 19px;
    }
    .find-by-insurance input {
        width: 550px;
        height: 80px;
    }
    .find-by-insurance ::placeholder {
        font-size: 20px;
    }
    .search-btn {
        padding-block: 20px;
        font-size: 20px;
    }

    .insurance-serch-bar input {
        width: 550px;
    }


    #doctor-lists {
        padding-inline: 90px;
    }
    .schedule-doctors-header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: normal;

    }
    .patients-shortlist {
        display: flex;
        flex-direction: column; 
        align-items: normal;
        gap: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        padding-inline: 20px;
        padding-block: 10px;
    }
    .doctor-shortlist {
        display: none;
    }
    .doctor1 {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        padding-block: 20px;
        align-items: normal;    
    }
    .doctor1-section1 {
        display: flex;
        align-items: center;
    }
    .doctor1-image {
        width: 180px;
        height: 250px;
        border-radius: 10px;
    }
    .doctor-details {
        padding-left: 40px;
        width: 400px;
    }
    .doctor-detail {
        padding-bottom: 10px ;
    }
    .doctor-phone-num {
        width: 620px;
        margin-left: 0;
    }
    .doctor-phone-num button {
        margin-block: 30px;
    }



    #Specialities {
        padding-inline: 90px;
    }
    .Specialities-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-inline: 50px;
    }
    .Specialities-text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .Specialities-text p {
        max-width: 750px;
    }
    .Specialities-btn  {
        margin-bottom: 20px;
        padding-inline: 100px;
        font-size: 19px;
    }



    #footer {
        padding-inline: 50px;
    }
    .footer-image {
        width: 150px;
    }
    .footer-section1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer-contents {
        gap: 100px;
    }
    .footer-section2 {
        gap: 30px;
    }
    .copyrights-contents {
        gap: 10px;
        font-size: 10px;
        padding-bottom: 20px;
    }
    .copyrights-contents p {
        font-size: 10px;
    }

}


@media (max-width:520px) {

    #find-a-doctor {
        padding-inline: 20px;
    }
    .find-a-doctor-header {
        display: none;
    }
    .find-a-doctor-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .find-a-doctor-section1 {
        text-align: center;
    }
    .form-heading h1 {
        font-size: 45px;
    }
    .insurance-img{
        width: 300px;
    }
    .find-by-name input {
        width: 300px;
        height: 60px;
    }    
    .find-by-name ::placeholder {
        font-size: 14px;
    }
    .find-by-city input {
        width: 300px;
        height: 60px;
    }
    .find-by-city ::placeholder {
        font-size: 14px;
    }
    .find-by-insurance input {
        width: 250px;
        height: 60px;
    }
    .find-by-insurance ::placeholder {
        font-size: 14px;
    }
    .search-btn {
        padding-block: 10px;
        font-size: 15px;
    }
    .insurance-serch-bar input {
        width: 230px;
    }




    #doctor-lists {
        padding-inline: 25px;
    }
    .schedule-doctors-header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: normal;
        padding-bottom: 15px;
    }
    .doctor-status-header {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .doctor-status {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .patients-status p {
        padding-block: 8px;
    }
    .doctor-shortlist {
        display: none;
    }
    .doctor1 {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        padding-block: 20px;
        align-items: normal;    
    }
    .doctor1-section1 {
        display: flex;
        align-items: center;
    }
    .doctor1-image {
        width: 80px;
        height: 100px;
        border-radius: 10px;
    }
    .doctor-details {
        padding-left: 10px;
        width: 200px;
    }
    .doctor-detail {
        padding-bottom: 1px;
    }
    .doctor-detail h4 {
        font-size: 8px;
    }
    .doctor-name {
        padding-block: 5px;
    }
    .doctor-name h1 {
        font-size: 16px;
    }
    .doctor-specalist p {
        font-size: 10px;
    }
    .doctor-location {
        padding-top: 5px;
    }
    .doctor-location p {
        font-size: 12px;
    }
    .doctor-phone-num {
        width: 270px;
        margin-left: 0;
    }
    .doctor-phone-num button {
        margin-block: 30px;
    }



    #Specialities {
        padding-inline: 25px;
    }
    .Specialities-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-inline: 20px;
    }
    .Specialities-image {
        width: 100px;   
        padding-top: 30px;
    }
    .Specialities-text h1 {
        font-size: 30px;
    }
    .Specialities-text p {
        font-size: 13px;
        font-weight: 400;
    }
    .Specialities-text-content {
        gap: 30px;
    }
    .Specialities-text p {
        max-width: 800px;
    }
    .Specialities-btn  {
        margin-bottom: 20px;
        padding-inline: 50px;
        font-size: 15px;
    }



    #footer {
        padding-inline: 25px;
    }
    .footer-contents {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-content1 p {
        padding-bottom: 15px;
    }
    .footer-content2 p {
        padding-bottom: 15px;
    }
    .footer-content3-text p {
        padding-bottom: 15px;
    }

    .footer-section2 {
        display: flex;
        flex-direction: column;
    }
    .copyrights-contents {
        display: flex;
        flex-direction: column;
    }
    .copyrights-contents p {
        padding-bottom: 0px;
    }
}